
body {
  font-family: sans-serif, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
}


header {
  background-color: #2c3e50;
  padding: 20px;
}


nav {
  background-color: #34495e;
  padding: 10px;
}


main {
  background-color: #ffffff;
  font-size: 18px;
  padding: 20px;
}
main p {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
}


footer {
  background-color: #2c3e50;
  padding: 15px;
  text-align: center;
}


li {
  display: inline-block;
  width: 150px;
}


h1 {
  text-align: center;
  font-family: Georgia, serif;
  color: #ffffff;
}


p {
  line-height: 1.6;
  color: #1a1a1a;
}
